.ulmnu
  list-style-type: none
  margin: 0
  padding: 0

#content
  font-size: 0.875rem
  margin: 0 auto
  padding-top: 2.125rem
  min-height: 80vh

  @media only screen and (max-width: 768px)
    padding-top: 1rem

.section-darken
  background-color: $accent-color

#convoys-section
  border-top: 1px solid $text-color
  padding-top: $vtcictMainContentPadding !important
  padding-bottom: $vtcictMainContentPadding !important

  .btn
    background-color: $accent-dark-color
    border-radius: 0 !important
    border-left: 0 !important
    border-right: 0 !important
    border-bottom: 0 !important
    color: $accent-color
    font-size: 15px

    &:hover
      background-color: lighten($accent-dark-color, 10%)
      color: $accent-color

  h2
    color: $text-color
    font-weight: 700

    span
      color: $text-color

  .card
    background-color: lighten($main-color, 5%)

    &.speed
      animation: speed 1s ease-in
      animation-iteration-count: 1
      animation-iteration-count: infinite

    //border: 1px solid $accent-color
    border-radius: 0

    &:hover
      .convoy-desc
        background-color: $accent-dark-color
        border-color: $main-color
        color: $accent-color

      .card-img-top
        //filter: grayscale(0)

    .card-img-top
      //opacity: 0.1
      @media only screen and (min-width: 1200px)
        height: 150px

    .btn
      background-color: $accent-dark-color
      border-radius: 0 !important
      border-top: 1px solid $accent-color
      border-left: 0 !important
      border-right: 0 !important
      border-bottom: 0 !important
      color: $accent-color
      font-size: 15px

      &:hover
        background-color: $accent-dark-color
        color: $accent-color

    .convoy-time
      &__one
        position: absolute
        top: 0
        left: 0

        //background: lighten($accent-color, 5%)
        color: $text-color
        font-weight: 400
        font-size: 10.5pt
        padding: 0.1875rem 0.625rem 0.1875rem 0.375rem

      &__two
        position: absolute
        top: 0
        right: 0

        //background: lighten($accent-color, 5%)
        color: $text-color
        font-weight: 400
        font-size: 10.5pt
        padding: 0.1875rem 0.625rem 0.1875rem 0.375rem

      &__km
        position: absolute
        top: 52px
        left: 0

        //background: lighten($accent-color, 5%)
        color: $text-color
        font-weight: 600
        font-size: 16px
        padding: 0.1875rem 0.625rem 0.1875rem 0.375rem

    .convoy-desc
      position: relative
      bottom: 0
      left: 0
      color: #666
      font-weight: 400
      padding: 15px 6px 15px
      width: 100%
      min-height: 150px
      background-color: lighten($accent-color, 1%)

      &__km
        position: absolute
        top: -35px
        left: 0

        //background: lighten($accent-color, 5%)
        color: $accent-color
        font-weight: 600
        font-size: 16px
        text-shadow: 1px 1px 10px #000000
        padding: 0.1875rem 0.625rem 0.1875rem 0.375rem

      &__dhr
        position: absolute
        top: -32px
        right: 6px

        span
          color: lighten($accent-color, 9%)

      &__info
        font-weight: 400
        font-size: 14px
        overflow: hidden
        text-overflow: ellipsis
        text-align: left
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical

        .info-line
          &.event
            background-color: $main-color
            color: $accent-color

#members-section
  border-top: 1px solid $text-color
  padding-top: $vtcictMainContentPadding !important
  padding-bottom: $vtcictMainContentPadding !important

  h2
    color: $accent-color
    font-weight: 700

    span
      color: $accent-color

  .members
    .lvr
      height: 3.75rem

    ul
      @extend .ulmnu

      li
        position: relative

        //padding: 18px 25px
        margin-bottom: 10px
        width: 80%
        text-align: left
        cursor: pointer

        &:hover, &:focus
          color: #fff

        &.active
          color: #fff

        > a
          font-size: 17px
          text-transform: uppercase
          text-decoration: none
          letter-spacing: 2px

          //margin-left: 20px
          color: $accent-color

          &:hover
            color: $accent-color

        @media only screen and (max-width: $media-phone)
          width: 100%

        @media only screen and (max-width: $media-tablet)
          width: 100%

#servers-section
  background-color: $main-color
  border-top: 1px solid $text-color
  padding-top: $vtcictMainContentPadding !important
  padding-bottom: $vtcictMainContentPadding !important

  h2
    color: $accent-color
    font-weight: 700

    span
      color: $accent-color
      font-weight: 700

  .servers
    .server-container
      .resync-servers
        top: 0
        left: 0

        //background-color: $main-color
        border: 1px solid $accent-color
        margin-bottom: 1em
        color: $accent-color
        font-weight: 400
        font-size: 11px
        padding: 0.1875rem 0 0.375rem
        text-align: center
        width: 40px
        cursor: pointer

        &:hover
          background-color: $accent-color
          color: $text-color

      .lce-favorite
        top: 0
        left: 0

        //background-color: $main-color
        border: 1px solid $accent-color
        margin-bottom: 1em
        color: $accent-color
        font-weight: 400
        font-size: 11px
        padding: 0.1875rem 0.625rem 0.1875rem 0.375rem
        text-align: center
        cursor: pointer

        &:hover
          background-color: $accent-color
          color: $text-color

      .server
        margin-bottom: 0.2em

        &.active
          background-color: lighten($accent-color, 5%)
          background-image: none
          color: $text-color

          .name,
          .num
            //background-color: lighten($accent-dark-color, 5%)
            color: $text-color
            font-weight: 400

          .progress
            color: $accent-color
            text-transform: uppercase

            &-bar
              background-color: lighten($main-color, 5%)
              text-transform: uppercase

        &-detail
          position: relative
          color: darken($accent-color, 25%)

          span
            text-transform: uppercase
            letter-spacing: 1px

            &.on
              //position: absolute
              top: 0
              left: 0
              background-color: lighten($accent-dark-color, 5%)
              color: lighten($accent-color, 5%)
              border: 1px solid darken($accent-dark-color, 5%)
              font-weight: 400
              font-size: 11px
              padding: 0.1875rem 0.625rem 0.1875rem 0.375rem
              text-align: center
              width: 100px

            &.off
              //position: absolute
              top: 0
              left: 0
              background: red
              color: $accent-color
              font-weight: 400
              font-size: 11px
              padding: 0.1875rem 0.625rem 0.1875rem 0.375rem
              text-align: center
              width: 100px

            &.name
              //position: absolute
              color: $accent-color
              font-weight: 400
              font-size: 13px
              padding: 0.1875rem 0.625rem 0.1875rem 0.375rem

            &.num
              //position: absolute
              top: 0
              left: 0
              color: $accent-color
              font-weight: 400
              font-size: 11px
              padding-left: 2px
              text-align: center
              width: 100px

        &-players
          color: darken($text-color, 25%)
          width: 10%

          .progress
            background-color: lighten($accent-dark-color, 5%)
            border-radius: 0

            &-bar
              background-color: lighten($accent-color, 5%)
