.convoe-modal
  .modal
    &-content
      background-color: $accent-color
      border-radius: 0 !important

    &-header
      border-radius: 0 !important
      background-color: $accent-color
      color: $text-color !important

      h5
        font-weight: 600
        color: $text-color !important

    &-counter
      color: $text-color
      display: flex
      flex-direction: column
      font-size: 0.75rem

    &-body
      background-color: $main-color
      padding: 0 !important

      .alert
        margin-bottom: 0 !important

      .btn
        background-color: lighten($accent-color, 8%)
        border-radius: 0 !important
        border-top: 1px solid $accent-color
        border-left: 0 !important
        border-right: 0 !important
        border-bottom: 0 !important
        color: $text-color
        font-size: 15px
        padding-top: 0.625rem

        &:hover
          background-color: lighten($accent-color, 12%)
          color: $text-color

      .row
        border-bottom: 1px solid $accent-color

        &:last-child
          border: 0

        // &:nth-of-type(even)
        //   //background-color: lighten($accent-color, 2%)
        //border-bottom: 1px solid lighten($accent-color, 9%)
        //background-color: lighten($accent-color, 2%)

        &:hover
          background-color: $accent-dark-color

      .event-block
        text-align: center
        padding: 0.625rem

        &:hover
          &.speed
            animation: speed 1s ease-in
            animation-iteration-count: 1
            animation-iteration-count: infinite

        &--event-cargo-from,
        &--event-cargo-to,
        &--event-cargo-time
          font-weight: 700

          //font-size: 1.25rem
          color: $accent-color

          .event-cargo-company,
          .event-cargo-name
            font-size: 0.875rem
            color: $accent-color

.btn
  background-color: $main-color
  border-radius: 0 !important
  border-top: 1px solid $accent-color
  border-left: 0 !important
  border-right: 0 !important
  border-bottom: 0 !important
  color: $text-color
  font-size: 15px

  &:hover
    background-color: lighten($accent-color, 9%)
    color: $text-color

  &:focus
    outline: none !important
    box-shadow: none
