<template>
  <div class="servers">
    <div class="server-container">
      <div v-if="loading === true">
        <div class="loading-window border-0">
          <div class="text text-center">
            <span>
              {{ status_loading }}
              <i class="fas fa-truck-moving"></i>
            </span>
            <span class="dots">...</span>
          </div>
        </div>
      </div>
      <div v-if="loading === false || servers.length > 0">
        <div class="d-flex justify-content-between more">
          <div
            class="lce-favorite"
            @click="isServerFavouritedSelect = serverOne"
          >{{ playing_server }}</div>
          <div class="resync-servers" @click="resyncServers()">
            <i class="fas fa-sync-alt"></i>
          </div>
        </div>
        <div v-for="server in filteredServers" :key="server.id">
          <div class="server" :class="{ active: isServerFavouritedSelect === server.id }">
            <div class="d-flex align-items-center server-detail">
              <span v-if="server.online === false" class="off">{{ status_offline }}</span>
              <span v-if="server.online === true" class="on">{{ status_online }}</span>
              <span class="name">[{{ server.shortname }}] {{ server.name }}</span>
              <div class="server-players">
                <div class="progress border-0">
                  <div
                    v-show="isServerFavouritedSelect === server.id"
                    style="margin-left: 12px;"
                  >{{ status_favourited }}</div>
                  <div
                    class="progress-bar border-0"
                    role="progressbar"
                    :style="{ width: ((server.players / server.maxplayers) * 100) + '%' }"
                    :aria-valuenow="((server.players / server.maxplayers) * 100)"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <div
                      v-if="server.players >= server.maxplayers"
                    >{{ serverInqueue }} {{ server.queue }}</div>
                  </div>
                </div>
              </div>
              <span class="num">
                <span v-if="server.carsforplayers">
                  <i class="fas fa-car"></i>
                </span>
                <i class="fas fa-shipping-fast"></i>
                {{ server.players }}/{{ server.maxplayers }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from "../api/web";

export default {
  props: [
    "playing_server",
    "status_online",
    "status_offline",
    "status_loading",
    "status_favourited"
  ],
  data() {
    return {
      game: "ETS2",
      servers: [],
      serverInqueue: "+",
      isServerFavouritedSelect: "",
      serverOne: 4, // EU 2
      isServerFavourited: false,
      loading: true
    };
  },
  mounted() {
    let vm = this;

    vm.fetchServersFromApi();

    setInterval(
      function() {
        vm.isServerFavouritedSelect = "";
        vm.isServerFavourited = false;
      }.bind(vm),
      15000
    );
  },
  computed: {
    filteredServers: function() {
      let vm = this;

      return vm.servers.filter(function(server) {
        return server.game === vm.game;
      });
    }
  },
  methods: {
    fetchServersFromApi() {
      let vm = this;

      vm.loading = true;

      api.getServersData(data => {
        vm.servers = data;
        vm.loading = false;
      });
    },
    favoriteServer(server) {
      let vm = this;

      vm.isServerFavouritedSelect = server;
      vm.isServerFavourited = true;
    },
    resyncServers() {
      let vm = this;

      setInterval(
        function() {
          vm.fetchServersFromApi();
        }.bind(vm),
        1000
      );
    }
  }
};
</script>
