$border-color: green
$background-color: transparent
$border-radius-big: 0px
$font-size-header: 13px

$car-color: $border-color
$spin-deg: 36deg

@keyframes spin
	0%
		transform: translate(2px, 1px) rotate($spin-deg * 0)
	10%
		transform: translate(-1px, -3px) rotate($spin-deg * 1)
	20%
		transform: translate(-2px, 0px) rotate($spin-deg * 2)
	30%
		transform: translate(1px, 2px) rotate($spin-deg * 3)
	40%
		transform: translate(1px, -1px) rotate($spin-deg * 4)
	50%
		transform: translate(-1px, 3px) rotate($spin-deg * 5)
	60%
		transform: translate(-1px, 1px) rotate($spin-deg * 6)
	70%
		transform: translate(3px, 1px) rotate($spin-deg * 7)
	80%
		transform: translate(-2px, -1px) rotate($spin-deg * 8)
	90%
		transform: translate(2px, 1px) rotate($spin-deg * 9)
	100%
		transform: translate(1px, -2px) rotate($spin-deg * 10)

@keyframes speed
	0%
		transform: translate(2px, 1px) rotate(0deg)
	10%
		transform: translate(-1px, -3px) rotate(-1deg)
	20%
		transform: translate(-2px, 0px) rotate(1deg)
	30%
		transform: translate(1px, 2px) rotate(0deg)
	40%
		transform: translate(1px, -1px) rotate(1deg)
	50%
		transform: translate(-1px, 3px) rotate(-1deg)
	60%
		transform: translate(-1px, 1px) rotate(0deg)
	70%
		transform: translate(3px, 1px) rotate(-1deg)
	80%
		transform: translate(-2px, -1px) rotate(1deg)
	90%
		transform: translate(2px, 1px) rotate(0deg)
	100%
		transform: translate(1px, -2px) rotate(-1deg)

@keyframes dots
	from
		width: 0px
	to
		width: 15px

@keyframes fadeIn
	from
		opacity: 0
	to
		opacity: 1

@-moz-keyframes pulse
  0%
    -moz-transform: scale(0)
    opacity: 0.0

  25%
    -moz-transform: scale(0)
    opacity: 0.1

  50%
    -moz-transform: scale(0.1)
    opacity: 0.3

  75%
    -moz-transform: scale(0.5)
    opacity: 0.5

  100%
    -moz-transform: scale(1)
    opacity: 0.0


@-webkit-keyframes pulse
  0%
    -webkit-transform: scale(0)
    opacity: 0.0

  25%
    -webkit-transform: scale(0)
    opacity: 0.1

  50%
    -webkit-transform: scale(0.1)
    opacity: 0.3

  75%
    -webkit-transform: scale(0.5)
    opacity: 0.5

  100%
    -webkit-transform: scale(1)
    opacity: 0.0

body
	background: $background-color
	font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif

.fadeIn
	animation: fadeIn .4s both

.loading-window
	@extend .fadeIn
	background: $background-color
	border-radius: $border-radius-big
	border: 3px solid $border-color
	color: #ffffff
	height: 36px
	left: 70%
	margin-left: -150px
	margin-top: 0
	position: absolute
	width: 300px
	z-index: 99

	.text
		font-size: $font-size-header
		position: absolute
		width: 100%
		top: 0
		margin: 0 auto
        color: #ffffff !important
	.dots
		display: inline-block
		width: 5px
		overflow: hidden
		vertical-align: bottom
		animation: dots 1.5s linear infinite
		transition: 1


.loading-window-laptop
	@extend .fadeIn
	background: $background-color
	border-radius: $border-radius-big
	border: 3px solid $border-color
	color: #fff
	height: 36px
	left: 50%
	margin-left: 0
	margin-top: 0
	position: absolute
	width: 300px
	z-index: 99

	.text
		font-size: $font-size-header
		position: absolute
		width: 100%
		top: 0
		margin: 0 auto
	.dots
		display: inline-block
		width: 5px
		overflow: hidden
		vertical-align: bottom
		animation: dots 1.5s linear infinite
		transition: 1


.pulse
  width: 15px
  height: 15px
  border: 8px solid green
  border-radius: 30px
  background-color: $accent-dark-color
  z-index: 10
  position: absolute
  top: 19px
  left: 10px

.dot
  border: 10px solid green
  background: transparent
  border-radius: 60px
  height: 50px
  width: 50px
  -webkit-animation: pulse 3s ease-out
  animation: pulse 3s ease-out
  animation-iteration-count: 1
  -webkit-animation-iteration-count: infinite
  animation-iteration-count: infinite
  position: absolute
  top: 0
  left: -7px
  z-index: 1
  opacity: 0
