.login-box
    .form-control
        background-color: #f8f8f8
        border: 1px solid #f40a78
        border-radius: 0

    .btn
        background-color: #000000
        font-weight: bolder
        border-radius: 0
