/* Triangle arrows
=arrow($dir, $base-width, $length, $color)
  width: 0
  height: 0
  border: ($base-width / 2) solid transparent

  @if $dir == top
    border-top: none
    border-bottom-width: $length
    border-bottom-color: $color
  @else if $dir == right
    border-right: none
    border-left-width: $length
    border-left-color: $color
  @else if $dir == bottom
    border-top-width: $length
    border-bottom: none
    border-top-color: $color
  @else if $dir == left
    border-right-width: $length
    border-left: none
    border-right-color: $color

.no-padding
  padding: 0px !important

// Sample
.bubble
  position: relative
  display: inline-block
  margin: 1em
  padding: 0.5em 1em
  background: black
  color: white
  border-radius: 0.25em
  font: 0.85em "Arial", sans-serif
  line-height: 1.5

  &::after
    content: ""
    position: absolute

  &.arrow-top::after
    +arrow(top, 1em, 0.5em, black)

    bottom: 100%
    left: 1em

  &.arrow-right::after
    +arrow(right, 1em, 0.5em, black)

    top: 50%
    left: 100%
    margin-top: -0.5em

  &.arrow-bottom::after
    +arrow(bottom, 1em, 0.5em, black)

    top: 100%
    left: 1em

  &.arrow-left::after
    +arrow(left, 1em, 0.5em, black)

    top: 50%
    right: 100%
    margin-top: -0.5em

/* Border radius
=border-radius($position, $radius)
  @if $position == top
    +border-top-radius($radius)
  @else if $position == right
    +border-right-radius($radius)
  @else if $position == bottom
    +border-bottom-radius($radius)
  @else if $position == left
    +border-left-radius($radius)
  @else if $position == all
    border-radius: $radius

/* Buttons
=button-bg($bg)
  background: $bg

  &:hover
    background: darken($bg, 8%)
    transition: all 0.3s ease

  &:active
    background: darken($bg, 25%)

/* Icons
=icon($icon, $type, $position: null)
  background: url("/img/icons/#{$icon}.#{$type}") $position no-repeat
