textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus
    outline: !important
    -moz-outline-style: none !important
    background-color: #ffffff !important
    border: 1px solid $main-color !important
    -webkit-box-shadow: none !important
    -moz-box-shadow: none !important
    box-shadow: none !important
    transition: 0

button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner
    border: 0
    padding: 0

input:hover::-webkit-input-placeholder
    color: #333333
input:hover:-moz-placeholder
    color: #333333
input:hover::-moz-placeholder
    color: #333333
input:hover:-ms-input-placeholder
    color: #333333

.btn
  padding: 0.8em 3em
  &-lg
    padding: 1.2em 3em

// .form-control
//     background-color: #f8f8f8
//     border: 1px solid #f40a78
//     border-radius: 0
