<template>
  <div>
    <div
      class="convoe-modal modal fade"
      id="convoe-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="convoe-modal__title"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="convoe-modal__title">
              {{ modal.headingTitle }}
              <span
                v-if="todayConvoesCount"
                class="modal-counter"
              >{{ modal.subHeadingTitle }}: {{ todayConvoesCount }}</span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="fas fa-times"></i>
              </span>
            </button>
            <div class="container-boty"></div>
          </div>
          <div class="modal-body">
            <div v-if="todayConvoesCount">
              <div class="container">
                <div v-for="event in events.data" :key="event.convoe_id" class="row event-block" :class="{ speed: isToday(event.created_at) === true }">
                  <div class="col-sm event-block--event-cargo-from">
                    <div class="event-cargo-company">{{ drive_from_company }}: {{ event.company_from }}</div>
                    {{ event.load_from }}
                  </div>
                  <div class="col-sm event-block--event-cargo-to">
                    <div class="event-cargo-company">{{ drive_in_company }}: {{ event.company_to }}</div>
                    {{ event.load_to }}
                  </div>
                  <div class="col-sm event-block--event-cargo-time">
                    <div class="event-cargo-name">{{ cargo }}</div>
                    {{ event.cargo }}
                  </div>
                </div>
              </div>
            </div>
            <div v-else>
              <div
                class="alert alert-danger text-center shadow rounded-0"
                role="alert"
              >{{ modal.alertMessage }}.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.convoe-modal -->
  </div>
</template>

<script>
import moment from "moment";

export default {
  props: [
    "convoes_head",
    "convoes_all",
    "convoes_empty",
    "drive_from_company",
    "drive_in_company",
    "cargo"
  ],
  data() {
    return {
      events: {},
      modal: {
        headingTitle: this.convoes_head,
        subHeadingTitle: this.convoes_all,
        alertMessage: this.convoes_empty
      },
      loading: true
    };
  },
  mounted() {
    let vm = this;

    vm.paginate();
  },
  computed: {
    todayConvoesCount() {
      return this.events.data && Object.keys(this.events.data).length;
    }
  },
  methods: {
    isToday(date) {
      let now = moment();
      let dateConvoe = moment(date).format("YYYY-MM-DD");

      return now.format("YYYY-MM-DD") === dateConvoe ? true : false;
    },
    paginate(url = "") {
      let vm = this;

      vm.loading = true;

      axios
        .get(url ? url : "api/convoe_events?today=all")
        .then(response => {
          if (!vm.events.data) {
            vm.events = response.data;
            vm.loading = false;
          } else {
            vm.events.data.push(...response.data.data);
            vm.events.next_page_url = response.data.next_page_url;
            vm.loading = false;
          }
        })
        .catch(e => console.error(e));
    }
  }
};
</script>