*:-ms-viewport
	width: auto!important

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html
  overflow-x: hidden
  height: 100%
  min-height: 100%

body
  background-color: $main-color

body
	line-height: 1.6
	min-height: 100vh
	font-family: 'Exo 2', sans-serif
	overflow-x: hidden

.no-margin
	margin: 0 !important;

.no-padding
	padding: 0 !important;

.no-padding-left
	padding-left: 0 !important

.height-356
	height: 356px !important

.no-padding-right
	padding-right: 0 !important

a
	color: #000
  outline: none

.hidden
	display: none

.container
  @media only screen and (min-width : 1200px)
    max-width: 1170px !important

#app
	//overflow: hidden

[v-cloak]
	display: none

.slick-dots
  display: flex
  justify-content: center
  margin: 0
  padding: 0
  list-style-type: none
  bottom: -34px
  li
    margin: 0 0.25rem
    button
      display: block
      width: 0.9rem
      height: 0.9rem
      padding: 0
      border: none
      border-radius: 100%
      background-color: lighten($main-color, 45%)
      text-indent: -9999px
  li
    &.slick-active
      button
        background-color: $main-color

/**!
 ** Caption Styles

.caption-item
  right: 0
  margin: 0px
  padding: 0px

.caption-link
  display: block
  position: relative
  margin: 0 auto
  max-width: 400px
  .caption-layer
    position: absolute
    width: 100%
    height: 100%
    opacity: 0
    -webkit-transition: all ease .5s
    -moz-transition: all ease .5s
    transition: all ease .5s

.caption-layer
  &.green
    background: rgba(173, 219, 50, 0.5)
  &.light-green
    background: rgba(6, 209, 164, 0.7)
  &.blue
    background: rgba(152, 231, 254, 0.5)

.caption-link .caption-layer:hover, .caption-layer.video-icon
  opacity: 1

.caption-link .caption-layer .caption-content
  position: absolute
  top: 35%
  width: 100%
  text-align: center
  font-size: 50px
  color: #fff
  p
    display: none

.carousel-item
  height: 40vh
  background: no-repeat center center scroll
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  @media only screen and (min-width : 1200px)
    height: 70vh

.carousel-caption
  font-weight: 600
  padding-bottom: 130px
  font-size: 3rem
  h3
    font-weight: 600
    font-size: 3rem
    a
      background-color: $accent-color
      border: 2px solid $main-color
      color: #ffffff

.carousel-indicators
  li
    width: 10px
    height: 10px
    border-radius: 100%

.scrollMembers
  height: 500px
  overflow-y: scroll
  padding-right: 21px

.online-status
  color: darken($accent-color, 15%)