.bg-lightgray
  background-color: $main-color

.bg-opt
  background-color: $accent-dark-color
  font-size: 1.5625rem
  font-weight: 800

.border-style
  border: 1px solid darken($accent-color, 25%)

.event
  &-head
    h1
      font-size: 1.5625rem
      color: $accent-color

      @extend .pt-4

    h2
      font-size: 1.0625rem
      color: $accent-color

      @extend .pb-4

  &-content
    border: 1px solid black

    @extend .py-4

    @extend .bg-lightgray

    &--stats
      background-color: lighten($main-color, 5%)

      @extend .border-style

      color: $accent-color
      margin-bottom: 0.9375rem

      .today
        border-bottom: 1px solid $main-color
        margin-bottom: 0.3125rem

      .row
        margin: 0 !important

    &--info
      .row
        padding: 0.625rem
        margin: 0 !important
        background-color: darken($main-color, 10%)

      .convoy
        font-size: 0.875rem

        &-finish
          font-weight: 900
          font-size: 1.5625rem
          color: $accent-color

    &--server
      padding: 0.9375rem

      .desc-info
        h3
          @extend .d-flex

          align-items: center

          @extend .py-4

          font-size: 1.5625rem
          font-weight: 500

          .svg-inline--fa
            color: darken($accent-color, 30%)

.history
  h2
    margin-bottom: 0 !important

  .loading-window-laptop
    left: 0.9375rem

    .text
      font-size: 15px

  .btn
    background-color: lighten($main-color, 5%)
    border-radius: 0 !important
    border-top: 0 !important
    border-left: 0 !important
    border-right: 0 !important
    border-bottom: 0 !important
    color: $accent-color
    font-size: 15px

    &:hover
      background-color: $accent-dark-color
      color: $accent-color

  &-event
    &--pic

    position: relative

    @extend .border-style

    @extend .mb-3

    &--info
      display: flex
      justify-content: space-between
      align-items: center
      position: absolute
      bottom: 0
      left: 0
      right: 0
      width: 100%
      background-color: $accent-dark-color
      font-size: 0.875rem
      font-weight: 800
      color: $accent-color
      padding: 0.9375rem

      &-start
        .svg-inline--fa
          margin-right: 0.3125rem
          color: green

      &-date
        text-align: center

        .hm
          text-align: center
          font-size: 0.9375rem
          font-weight: 800

      &-finish
        .svg-inline--fa
          margin-right: 0.3125rem

    &--datetime
      position: absolute
      font-size: 0.875rem
      color: $accent-color
      padding: 0.9375rem
