.main-footer
  //margin-top: 5em
  min-height: 1.375rem
  background-color: $accent-color
  width: 100%
  color: $text-color
  font-size: .875rem

  a
    color: $text-color
    outline: none

    &:hover
      text-decoration: underline
      color: $text-color

  .foot-by
    a
      color: lighten($main-color, 45%)