.main-head
  z-index: 99
  background-color: $vtcictMainHeadBgColor
  position: relative
  //border-bottom: 2px solid $vtcictMainHeadBorderBottomColor
  @media only screen and (max-width : 61.9375rem)
    padding-bottom: 1.125rem
  .container
    @media only screen and (max-width : 61.9375rem)
      padding-left: 0 !important
      padding-right: 0 !important

.navbar
  padding: 0
  min-height: 2.125rem
  color: $main-color

.nav-link
  display: inline
  @media only screen and (max-width : $media-phone)
    display: block
  @media only screen and (max-width : $media-tablet)
    display: block
  @media only screen and (max-width : $media-laptop)
    display: block

.navbar-toggler
  padding: 0px 3px 2px
  border-radius: 0
  outline: 0 !important
  .svg-inline--fa
    color: $accent-dark-color
  @media only screen and (max-width : 61.9375rem)
    margin-left: .9375rem !important
    margin-right: .9375rem !important

.navbar-brand
  img
    height: 8.75rem
    @media only screen and (max-width : $media-phone)
      height: 3.125rem
    @media only screen and (max-width : $media-tablet)
      height: 3.125rem
    @media only screen and (max-width : $media-laptop)
      height: 3.125rem

.rtmplogo
  position: absolute
  top: -1.375rem
  height: 3.75rem
  @media only screen and (max-width : 61.9375rem)
    margin-left: .9375rem !important
  @media only screen and (max-width : $media-tablet)
    margin-top: 0.9em !important
  @media only screen and (max-width : $media-laptop)
    margin-top: 0.9em !important

.steamlogo
  width: 14rem

.navbar-container
  background-color: $accent-color
  color: $main-color

.topbar
  z-index: 12
  position: relative
  padding-top: .2rem
  @media only screen and (max-width : $media-phone)
    padding: 0 0 .5rem
  @media only screen and (max-width : 61.9375rem)
    padding-left: .9375rem !important
    padding-right: .9375rem !important

  .label
    font-size: .6875rem
    font-weight: 400
    padding: .25rem .4375rem
    color: $text-color
    &.label-default
      background-color: $accent-color

  &-nav
    list-style-type: none
    margin: 0
    padding: 0
    display: flex
    li
      &:before
        content: none
      &:after
        content: "|"
        margin: 0 .625rem
        color: $main-color
        font-family: Tahoma
        font-size: 0.6em
        display: inline-block
        vertical-align: middle
      &:first-child
        a
          color: $text-color
          text-decoration: none
          &:hover
            color: $text-color
          span
            color: $text-color
      &:last-child
        &:after
          content: none
      > a
        font-size: .6875rem
        text-decoration: underline
        color: $text-color
        &:hover
          color: $text-color
          text-decoration: underline

.tooltip
  width: 61px !important
  font-size: .75rem

.navbar-dark .navbar-nav
  .show > .nav-link, .active
    @media only screen and (max-width : 61.9375rem)
      color: $main-color
  .nav-link
    &.show, &.active
      color: $accent-color
      @media only screen and (max-width : 61.9375rem)
        color: $main-color

.navbar-nav
  .nav-item
    a
      color: $text-color
    .nav-link
      padding: .5625rem 1.875rem .5625rem 1.25rem
      font-size: 1.1rem
      font-weight: 400
      position: relative
      line-height: 1.25rem
      @media only screen and (max-width : 61.9375rem)
        font-size: .875rem
        padding: .5625rem .9375rem
        //border-top: 1px solid $text-color
        border-bottom: 0 !important
      &.active
        border-bottom: 2px solid $text-color
        color: $text-color
      &:hover
        border-bottom: 2px solid $text-color
        color: $text-color
      &:focus
        border-bottom: 2px solid transparent

.navbar-collapse
  color: $main-color
  @media only screen and (max-width : 61.9375rem)
    background-color: $accent-color
    margin-top: .9375rem

.dropdown
  .dropdown-toggle
    &:after
      border: none
  > a
    &:after
      top: .5rem
      right: 1.125rem
      font-size: .875rem
      font-family: FontAwesome
      color: $text-color
      content: "\F107"
      position: absolute
      font-weight: 400
      display: inline-block
      @media only screen and (max-width : 61.9375rem)
        right: 1.5625rem

  .dropdown-menu
    background-color: $accent-dark-color
    color: $accent-color !important
    border-radius: 0
    border: 0
    padding: 0
    min-width: 12.5rem
    z-index: 9999 !important
    border-top: 2px solid $text-color
    @media only screen and (max-width : 61.9375rem)
      background-color: $accent-dark-color
      border-top: 0 !important
    .dropdown-item
      font-size: .975rem
      font-weight: 400
      //border-bottom: 1px solid $text-color !important
      color: $accent-color !important
      a
        color: $accent-dark-color !important
      &:hover,
      &:active,
      &:visited
        background-color: lighten($accent-dark-color, 10%)
        color: $main-color
        a
          color: $main-color
