$color_1: #ffffff;
$color_2: #ebebeb;
$color_3: #000000;
$color_4: #000000;
$background_color_1: #ffffff;
$background_color_2: #000000;
$background_color_3: #ffffff;
$background_color_4: #000000;

.navbar-custom
  border-top: 1px solid #ededed
  background-color: $background_color_1
  padding: 0 !important
  .navbar-brand
    color: $color_3
  .navbar-text
    color: $color_3
  .navbar-nav
    @media only screen and (max-width: 1024px)
      flex-direction: row
    .nav-link
      display: block
      margin: 0
      padding: 0 18px
      line-height: 38px
      color: #4a4a4a
      font-size: 14px
      text-decoration: none
      font-family: pf_dindisplay_proregular
      border-top: 1px solid #ededed
  .nav-item.active
    .nav-link
      color: $main-color
      border-color: $main-color
      box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.2)
  .nav-item
    border-right: 1px solid #ededed
    &:first-child
      border-left: 1px solid #ededed
    &:hover
      .nav-link
        color: $main-color
        border-color: $main-color
        box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.2)
    a
      display: block
      margin: 0
      padding: 0 18px
      line-height: 38px
      color: #4a4a4a
      font-size: 14px
      text-decoration: none
      font-family: pf_dindisplay_proregular
      border-top: 1px solid #ededed
      @media only screen and (max-width: 1024px)
        padding: 0 9px !important

.navbar-info
  display: block
  float: right
  margin-left: 2.5rem
  font-family: pf_dindisplay_proregular
  font-size: .875rem
  @media only screen and (max-width: 768px)
    display: none
  span
    font-size: 1.125rem
    font-family: pf_dindisplay_probold
    color: #a31e21
    text-decoration: none

.navbar-nav
  .dropdown-absolute
    position: absolute !important
    float: right
  .dropdown-toggle
    &::after
      display: none
  .dropdown-menu
    list-style: none !important
    position: absolute
    left: -1px
    top: 90%
    background: #fff
    box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.2)
    padding: 0
    border-radius: 0
    border: none
  .dropdown-item
    display: block
    margin: 0
    padding: 0
    padding-top: 0px
    padding-bottom: 0px
    line-height: 1px
    color: #4a4a4a
    font-size: 14px
    text-decoration: none
    font-family: pf_dindisplay_proregular
    border-top: 1px solid #ededed
    > a
      color: #4a4a4a
      text-decoration: none
      &:hover
        color: #a31e21
    &:hover
      color: $color_4
      background-color: $background_color_4
    &:focus
      color: $color_4
      background-color: $background_color_4