.ulmnu
	list-style-type: none
	margin: 0
	padding: 0
  display: block
  width: 100%

	li
    display: inline-block
    width: 32%
    text-align: left

    @media only screen and (max-width : $media-laptop)
      width: 49%

    @media only screen and (max-width : $media-tablet)
      width: 49%

    @media only screen and (max-width : $media-phone)
      width: 100%

.services
  @extend .ulmnu

  &.scroll
    height: 500px
    overflow: hidden
    transition: all 0.25s ease
    &:hover
      overflow-y: auto
      width: 100%

  &-switcher
    span
      background-color: #000000
      padding: 0 0.5em
      border-bottom: 1px dotted #ebebeb
      line-height: 15px
      color: #ffffff

  &-count
    background-color: #b30858
    padding: 0 0.5em
    border-bottom: 1px dotted #ebebeb
    line-height: 15px
    color: #ffffff
    cursor: pointer


.ulmnu-services
	list-style-type: none
	margin: 0
	padding: 0

	li
    display: block
    text-align: left
    text-decoration: line-through
    &.tunc
      text-decoration: none
    > a
      text-decoration: underline

.services-list
  @extend .ulmnu-services

