.ul-tline
  list-style-type: none
  margin: 0
  padding: 0
  display: flex
  flex-wrap: wrap
  justify-content: flex-start

  li
    display: flex
    align-items: flex-start

    a
      color: $text-color
      text-decoration: none
      flex: 1
      display: flex
      align-content: center
      align-items: center

      &:hover
        color: lighten($accent-color, 9%)

.top-line
  padding: 0.625rem
  background-color: $main-color
  display: flex
  justify-content: center
  width: 100%

.top-line-mnu
  color: $text-color

  &--list
    @extend .ul-tline

    li
      //line-height: 3.75rem
      text-align: center
      padding: 0 1.5625rem
