<template>
  <div class="card mb-4 border-0 shadow rounded" :class="{ speed: isToday(event.created_at) === true }">
    <div v-if="isToday(event.created_at)" class="convoy-time__today">
      <div class="dot"></div>
      <div class="pulse"></div>
    </div>
    <img
      class="card-img-top"
      src="http://localhost:8000/assets/img/slider/demo.png"
      alt="Card image cap"
    >
    <div class="convoy-desc">
      <div class="convoy-desc__km">
        <i class="fas fa-shipping-fast"></i>
        ~ {{ event.distance }} км
      </div>
      <div class="convoy-desc__dhr">
        <span v-html="driveInHours(event.distance)"></span>
      </div>
      <div class="convoy-desc__info">
        <div class="d-flex justify-content-between info-line event">
          <span>
            <!-- <i class="fas fa-truck-loading"></i> -->
            {{ drive_from }}: {{ isFormatedDateTimeToHours(event.start_dues) }}
          </span>
          <span>
            <!-- <i class="fas fa-truck-moving"></i> -->
            {{ drive_in }}: {{ isFormatedDateTimeToHours(event.end_dues) }}
          </span>
        </div>
        <div class="d-flex justify-content-between info-line">
          <span>
            <i class="fas fa-caret-right"></i>
            {{ load_from }} ({{ event.load_from }})
          </span>
          <span>{{ load_in }} ({{ event.load_to }})</span>
        </div>
        <div class="d-flex justify-content-between info-line">
          <span>
            <i class="fas fa-caret-right"></i>
            {{ event.company_from }}
          </span>
          <span>{{ event.company_to }}</span>
        </div>
        <div class="d-flex justify-content-between info-line">
          <span>
            <i class="fas fa-caret-right"></i> {{ cargo }}
          </span>
          <span>{{ event.cargo }}</span>
        </div>
        <div class="d-flex justify-content-between info-line">
          <span>
            <i class="fas fa-caret-right"></i> {{ load_in_afk }}
          </span>
          <span>{{ event.timeout_zone }}</span>
        </div>
      </div>
    </div>
    <a :href="route" class="btn btn-primary">{{ button }}</a>
  </div>
</template>

<script>
import moment from "moment";

export default {
  props: [
    "event",
    "server_head",
    "drive_from",
    "drive_in",
    "load_from",
    "load_in",
    "cargo",
    "load_in_afk",
    "button",
    "load",
    "load_more",
    "status_loading",
    "status_empty"
  ],
  data() {
    return {
      route: "http://localhost:8000/convoy/" + this.event.id
    };
  },
  methods: {
    isToday(date) {
      let now = moment();
      let dateConvoe = moment(date).format("YYYY-MM-DD");

      return now.format("YYYY-MM-DD") === dateConvoe ? true : false;
    },
    driveInHours(distance) {
      let drive;

      if (distance > 800 && distance < 1200) {
        drive = 1;
      } else if (distance > 1200 && distance < 2000) {
        drive = 2;
      } else if (distance > 2200 && distance < 3500) {
        drive = 2.5;
      } else if (distance > 3500 && distance < 4000) {
        drive = 3;
      } else if (distance > 4000 && distance < 6000) {
        drive = 3.5;
      } else {
        drive = 0;
      }

      return '<i class="fas fa-truck-moving"></i> ~' + parseFloat(drive) + " ч";
    },
    isFormatedDateTimeToHours(date) {
      let formatedFrom = "YYYY-MM-DD HH:mm:ss";
      let formatedTo = "HH:mm";

      return moment(date, formatedFrom).format(formatedTo);
    }
  }
};
</script>
