<template>
  <section id="convoys-section" class="section-darken">
    <div class="container">
      <h2 class="py-4">
        {{ server_head }}
        <div v-if="loading === true">
          <div class="loading-window-laptop border-0 mb-3">
            <div class="text">
              <span>
                {{ status_loading }}
                <i class="fas fa-truck-moving"></i>
              </span>
              <span class="dots">...</span>
            </div>
          </div>
        </div>
      </h2>

      <div v-if="loading === true || events.data.length > 0">
        <div class="row">
          <div
            v-for="event in events.data"
            :key="event.convoe_id"
            class="col-12 col-lg-3 col-md-4 col-sm-6 py-2"
          >
            <convoes-event-item-component
              :event="event"
              :server_head="server_head"
              :drive_from="drive_from"
              :drive_in="drive_in"
              :load_from="load_from"
              :load_in="load_in"
              :cargo="cargo"
              :load_in_afk="load_in_afk"
              :button="button"
              :load="load"
              :load_more="load_more"
              :status_loading="status_loading"
              :status_empty="status_empty"
            />
          </div>
        </div>
        <div v-if="events.next_page_url" class="col text-center">
          <button
            @click.prevent="paginate(events.next_page_url)"
            class="btn btn-default btn-lg shadow rounded-0"
          >{{ loading ? load : load_more }}</button>
        </div>
      </div>
      <div v-else>
        <div class="alert alert-danger text-center shadow rounded-0" role="alert">{{ status_empty }}.</div>
      </div>
    </div>
  </section>
</template>

<script>
import moment from "moment";
import FlipCountdown from "vue2-flip-countdown";
import ConvoesEventItemComponent from "../convoes/ConvoesEventItemComponent.vue";

export default {
  props: [
    "server_head",
    "drive_from",
    "drive_in",
    "load_from",
    "load_in",
    "cargo",
    "load_in_afk",
    "button",
    "load",
    "load_more",
    "status_loading",
    "status_empty"
  ],
  data() {
    return {
      events: {},
      loading: true
    };
  },
  mounted() {
    let vm = this;

    vm.paginate();
  },
  methods: {
    paginate(url = "") {
      let vm = this;

      vm.loading = true;

      axios
        .get(url ? url : "api/convoe_events")
        .then(response => {
          if (!vm.events.data) {
            vm.events = response.data;
            vm.loading = false;
          } else {
            vm.events.data.push(...response.data.data);
            vm.events.next_page_url = response.data.next_page_url;
            vm.loading = false;
          }
        })
        .catch(e => console.error(e));
    }
  },
  components: { FlipCountdown, ConvoesEventItemComponent }
};
</script>
