<template>
  <span v-if="convoeToday" class="convoe-badge" v-cloak>
    <span v-text="convoeToday" class="badge badge-light ml-2"></span>
  </span>
</template>

<script>
export default {
  data() {
    return {
      convoeToday: 0
    };
  },
  mounted() {
    let vm = this;

    vm.reCount();
  },
  methods: {
    reCount(url = "") {
      let vm = this;

      vm.loading = true;

      axios
        .get(url ? url : "api/convoe_events_today")
        .then(response => {
          vm.convoeToday = response.data.counter;
          vm.loading = false;
        })
        .catch(e => console.error(e));
    }
  }
};
</script>
