<template>
  <div class="col-lg-4">
    <div class="history">
      <div class="container">
        <h2>
          <div v-if="loading === true">
            <div class="loading-window-laptop border-0">
              <div class="text">
                <span>
                  {{ status_loading }}
                  <i class="fas fa-truck-moving"></i>
                </span>
                <span class="dots">...</span>
              </div>
            </div>
          </div>
        </h2>
        <div v-if="loading === true || events.data.length > 0">
          <div class="row">
            <div v-for="event in events.data" :key="event.convoe_id" class="history-event">
              <div class="mb-4">
                <a class="history-event--pic" href="#">
                  <img
                    class="img-fluid"
                    src="http://localhost:8000/assets/img/slider/demo.png"
                    alt="...."
                  >
                </a>
                <div class="history-event--info">
                  <div class="history-event--info-start">
                    <i class="fas fa-map-marker-alt"></i>
                    {{ event.load_from }}
                  </div>
                  <div class="history-event--info-finish">
                    <i class="fas fa-map-marker-alt"></i>
                    {{ event.load_to }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="events.next_page_url" class="col text-center">
            <button
              @click.prevent="paginate(events.next_page_url)"
              class="btn btn-default btn-lg shadow rounded-0"
            >{{ loading ? load : load_more }}</button>
          </div>
        </div>
        <div v-else>
          <div
            class="alert alert-danger text-center shadow rounded-0"
            role="alert"
          >{{ status_empty }}.</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import FlipCountdown from "vue2-flip-countdown";
import ConvoesEventItemComponent from "../convoes/ConvoesEventItemComponent.vue";

export default {
  props: ["load", "load_more", "status_loading", "status_empty"],
  data() {
    return {
      events: {},
      loading: true
    };
  },
  mounted() {
    let vm = this;

    vm.paginate();
  },
  methods: {
    paginate(url = "") {
      let vm = this;

      vm.loading = true;

      axios
        .get(url ? url : "/api/convoe_events_history")
        .then(response => {
          if (!vm.events.data) {
            vm.events = response.data;
            vm.loading = false;
          } else {
            vm.events.data.push(...response.data.data);
            vm.events.next_page_url = response.data.next_page_url;
            vm.loading = false;
          }
        })
        .catch(e => console.error(e));
    }
  },
  components: { FlipCountdown, ConvoesEventItemComponent }
};
</script>
